@{ 
    ViewBag.Title = "Home";
}
<p>View jobs by:</p>
<ul>
    @foreach (KeyValuePair<string, string> action in ViewBag.actions)
    {
        <li><a href="/@action.Key">@action.Value</a></li>               //create link for each main search option
    }
</ul>